@font-face {
  font-family: 'access-imobil';
  src:  url('fonts/access-imobil.eot?9btmzy');
  src:  url('fonts/access-imobil.eot?9btmzy#iefix') format('embedded-opentype'),
    url('fonts/access-imobil.ttf?9btmzy') format('truetype'),
    url('fonts/access-imobil.woff?9btmzy') format('woff'),
    url('fonts/access-imobil.svg?9btmzy#access-imobil') format('svg');
  font-weight: normal;
  font-style: normal;
}

.fai {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'access-imobil' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fai-share-stroke:before {
  content: "\e93f";
}
.fai-lock-o:before {
  content: "\e93a";
}
.fai-share:before {
  content: "\e939";
}
.fai-finger-up:before {
  content: "\e938";
}
.fai-sold:before {
  content: "\e935";
}
.fai-booked:before {
  content: "\e934";
}
.fai-filter:before {
  content: "\e932";
}
.fai-x-square:before {
  content: "\e933";
}
.fai-grid:before {
  content: "\e930";
}
.fai-list:before {
  content: "\e931";
}
.fai-arrow-down:before {
  content: "\e902";
}
.fai-label-o:before {
  content: "\e92e";
}
.fai-file-pdf:before {
  content: "\e92d";
}
.fai-apartments:before {
  content: "\e900";
}
.fai-areas:before {
  content: "\e901";
}
.fai-bank:before {
  content: "\e903";
}
.fai-bars:before {
  content: "\e904";
}
.fai-bell:before {
  content: "\e905";
}
.fai-bell-o:before {
  content: "\e906";
}
.fai-blocks:before {
  content: "\e907";
}
.fai-calendar:before {
  content: "\e908";
}
.fai-cart-plus:before {
  content: "\e909";
}
.fai-chart-up:before {
  content: "\e90a";
}
.fai-check:before {
  content: "\e90b";
}
.fai-check-square:before {
  content: "\e90c";
}
.fai-child:before {
  content: "\e90d";
}
.fai-down-arrow-o:before {
  content: "\e90e";
}
.fai-up-arrow-o:before {
  content: "\e937";
}
.fai-envelope:before {
  content: "\e90f";
}
.fai-eye:before {
  content: "\e910";
}
.fai-eye-o:before {
  content: "\e911";
}
.fai-facebook:before {
  content: "\e912";
}
.fai-facebook-o:before {
  content: "\e913";
}
.fai-google-plus:before {
  content: "\e914";
}
.fai-home:before {
  content: "\e915";
}
.fai-hospital:before {
  content: "\e916";
}
.fai-instagram:before {
  content: "\e917";
}
.fai-left-arrow:before {
  content: "\e918";
}
.fai-right-arrow:before {
  content: "\e92f";
}
.fai-like:before {
  content: "\e919";
}
.fai-marker-stroke:before {
  content: "\e91a";
}
.fai-market:before {
  content: "\e91b";
}
.fai-multiply:before {
  content: "\e91c";
}
.fai-parking:before {
  content: "\e91d";
}
.fai-pharmacy:before {
  content: "\e91e";
}
.fai-phone:before {
  content: "\e91f";
}
.fai-right-arrow-o:before {
  content: "\e920";
}
.fai-left-arrow-o:before {
  content: "\e936";
}
.fai-school:before {
  content: "\e921";
}
.fai-search:before {
  content: "\e922";
}
.fai-shield:before {
  content: "\e923";
}
.fai-star-o:before {
  content: "\e924";
}
.fai-toboggan:before {
  content: "\e925";
}
.fai-tree:before {
  content: "\e926";
}
.fai-twitter:before {
  content: "\e927";
}
.fai-twitter-o:before {
  content: "\e928";
}
.fai-viber:before {
  content: "\e929";
}
.fai-warning-o:before {
  content: "\e92a";
}
.fai-x-o:before {
  content: "\e92b";
}
.fai-youtube:before {
  content: "\e92c";
}
.fai-right-arrow-end-o:before {
  content: "\e93b";
}
.fai-left-arrow-end-o:before {
  content: "\e93c";
}
.fai-star-regular:before {
  content: "\e93e";
}
.fai-star-solid:before {
  content: "\e93d";
}
