body {
    font-family: Arial,"Helvetica Neue",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

img {
    max-width: 100%;
}

.page-wrapper {
    padding: 40px 0;
}

.header {
    margin-bottom: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.header-contacts {
    margin-left: auto;
    text-align: right;
    color: #676767;
    font-size: 14px;
    line-height: 1.4;
}

.main {
    margin-bottom: 40px;
}

.item-id {
    font-size: 18px;
    color: #676767;
}

.main-info-inner h1 {
    font-weight: 700;
    color: #000;
    line-height: 1.2;
    margin-bottom: 20px;
    font-size: 24px;
}


.item-main-info {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
            flex-direction: column;
}

.item-price {
    font-weight: 700;
    color: #ff6600;
    font-size: 24px;
    vertical-align: middle;
}

.ipoteca {
    color: #676767;
    font-size: 18px;
    margin-left: 1em;
    vertical-align: middle;
}

.manager-contact {
    border: 1px solid #eaeaea;
    margin-top: auto;
    padding: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
            align-items: center;
}

.manager-contact .manager-avatar {
    margin-right: 15px;
}

.position {
    color: #676767;
}

.manager-contact .name {
    font-size: 20px;
    color: #000;
    margin-bottom: 10px;
}

.manager-contact .phone {
    font-size: 20px;
    color: #000;
}

.manager-contact .phone img {
    vertical-align: middle;
    position: relative;
    top: -2px;
}

.detailed-info-item {
    border-bottom: 1px solid rgba(16, 20, 27, .1);
    margin-bottom: 15px;
    padding-bottom: 15px;    
}

.detailed-info-item .label {
    color: #676767;
}

.detailed-info-item .data {
    font-weight: 700;
    color: #000;
}

.detailed-info {
    margin-bottom: 40px;
}

.description {
    margin-bottom: 60px;
    color: #676767;
}

h2 {
    font-size: 24px;
    font-weight: 700;
}

.description h2 {
    margin-bottom: 1em;
    color: #000;
}

.description p {
    margin-bottom: 1.4em;
}

.description ol,
.description ul {
    margin-bottom: 1.4em;
}

.description a {
    text-decoration: underline;
    color: #1987e4;
}

.characteristics {
    padding: 0;
    margin: 0 -15px;
    padding-top: 10px;
    margin-bottom: 60px;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.characteristics li {
    padding: 0 15px;
    width: 16.6666%;
    margin-bottom: 15px;
    color: #676767;
}

.characteristics li span {
    display: block;
    position: relative;
    padding-left: 30px;
}

.characteristics li img {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.additional-images {
    margin-bottom: 30px;
}

.additional-images > div {
    margin-bottom: 30px;
}


.manager-bottom {
    padding: 20px;
    border: 1px solid #eaeaea;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
            align-items: center;
}

.manager-bottom .manager-avatar {
    margin-right: 20px;
}

.manager-bottom .name {
    font-size: 24px;
    color: #000;
}

.manager-bottom .contact-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: end;
    -ms-flex-align: end;
            align-items: flex-end;
}

.manager-bottom .contact-info .phone {
    font-size: 24px;
    color: #000;   
}

.manager-bottom .info-inner {
    margin-right: 40px;
}

.manager-bottom .contact-info .phone img {
    position: relative;
    top: -2px;
}

.pricing {
    margin-bottom: 20px;
}


@media print {
    .characteristics-row {
        page-break-inside: avoid;
    }
}
