

.system-text-messages-b {
    max-width: 350px;
    position: fixed;
    top: 20px;
    right: 50px;
    z-index: 1003;
    z-index: 99999;
}
.system-text-messages-b ul {
    font: 14px Arial, sans-serif;
	list-style: none;
	padding: 0;
	margin: 0;
}
.system-text-messages-b li {
    padding: 15px 25px 15px 15px;
    position: relative;
    border-top: 1px dashed #eee;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-box-shadow: 0 0px 14px rgba(34, 34, 34, 0.5);
    box-shadow: 0 0px 5px rgba(34, 34, 34, 0.4);
    margin-bottom: 5px;
}
.system-text-messages-b li .fa.fa-remove {
    position: absolute;
    top: 16px;
    right: 8px;
    cursor: pointer;
    font-size: 14px;
    filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=40);
    opacity: 0.4
}
.system-text-messages-b li .fa.fa-remove:hover {
    filter: progid: DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1
}
.system-text-messages-b .message-error {
    color: #a94442;
    background-color: #ebcdcc;
    border: 1px solid #d29998;
    border-radius: 3px;
}
.system-text-messages-b .message-success {
    color: #38971f;
    background-color: #ccf3c2;
    border: 1px solid #94d084;
    border-radius: 3px;
}
.system-text-messages-b .message-info {
    color: #3C81A3;
    background-color: #daf1f8;
    border: 1px solid #9ec7d8;
    border-radius: 3px;
}
.system-text-messages-b .message-warning {
    background: #fceedb;
    color: #c77c11;
    border: 1px solid #e8c395;
    border-radius: 3px;
}
.system-text-messages-b a {
    font-weight: bold
}

/*FILEUPLOAD*/
.user-image-thumbnail-wr,
.sortable-placeholder{
	display: flex;
	float: left;
	overflow: hidden;
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 4px;
	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
	padding: 5px;
	margin-right: 5px;
	position: relative;
	width: 100%;
	margin-bottom: 15px;
	text-align: center;
}
#news_photo .user-image-thumbnail-wr{
	width: auto;
}
#product_photo .user-image-thumbnail-wr{
	width: auto;
}
#window_photo .user-image-thumbnail-wr{
	width: auto;
}
#banner_photos .user-image-thumbnail-wr{
	display: block;
}

.files{
    position: relative;
    width: 100%;
    height: 100%;
    display: block;
}
.files.in-row-multiple .user-image-thumbnail-wr,
.files.in-row-multiple .sortable-placeholder{
    width: 150px;
    height: 150px;
}

.sortable-dragging{
}

.sorting-files{
    cursor: move;
}

.filters-container-page{
    margin-right: -7.5px !important;
    margin-left: -7.5px !important;
}

.filters-container-page > div{
    padding-right: 7.5px !important;
    padding-left: 7.5px !important;
}

.row-small{
    margin-right: -7.5px !important;
    margin-left: -7.5px !important;
}

.row-small > div{
    padding-right: 7.5px !important;
    padding-left: 7.5px !important;
}

.user-image-thumbnail-wr .btn{
	position: absolute;
	top: 5px;
	left: 5px;
}

.user-image-thumbnail-wr .btn-group{
	position: absolute;
	top: 5px;
    left: 5px;
}

.user-image-thumbnail-wr .btn-group .btn{
	position: relative;
}

.user-image-thumb{
	display: flex;
	width: 100%;
	height: 100%;
	text-align: center;
}
.user-image-thumb img{
	max-width: 100%;
	max-height: 100%;
	object-fit: cover;
}

.upload-plans-files{
    display: flex;
    flex-direction: column;
}

.upload-plans-files .upload-plans-file__wr{
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 15px 0px;
    border: 1px solid #eaeaea;
}

.upload-plans-files .upload-plans-file__wr .image{
    flex-shrink: 1;
    margin-bottom: 10px;
    position: relative;
}

.upload-plans-files .upload-plans-file__wr .image .btn-remove{
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 2;
}

.upload-plans-files .upload-plans-file__wr .image .thumb{
    width: 200px;
    height: 132px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    z-index: 1;
}

.upload-plans-files .upload-plans-file__wr .image .thumb img{
    max-height: 100%;
    max-width: 100%;
    margin: 0 auto;
}

.upload-plans-files .upload-plans-file__wr .detail{
    width: 100%;
}

.upload-plans-files .upload-plans-file__wr .detail .nav-tabs-custom{
    box-shadow: none;
}

.upload-plans-files .upload-plans-file__wr .detail .nav-tabs-custom .tab-content{
    padding: 10px 0 !important;
}


.ajax-loader {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width:100%;
	height:100%;
	text-align: center;
	zoom: 1;
	z-index: 20000;
	background: rgba(255,255,255,0.7);
}
.ajax-loader .wrapper {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100px;
	height: 10px;
	text-align: center;
	margin-left: -35px;
	margin-top: -5px;
}

.ajax-loader .wrapper > div {
  width: 10px;
  height: 10px;
  /*background-color: #5B91CC;*/
  background-color: #337ab7;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: bounceBigdelay 1.4s infinite ease-in-out;
  animation: bounceBigdelay 1.4s infinite ease-in-out;
  /* Prevent first frame from flickering when animation starts */
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.ajax-loader .wrapper .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.ajax-loader .wrapper .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes bounceBigdelay {
  0%, 80%, 100% { -webkit-transform: scale(0.0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes bounceBigdelay {
  0%, 80%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 40% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

/* FILTER PANEL */
.wr-filter-admin-panel {
    height: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    right: -250px;
    width: 250px;
    z-index: 9991;
    background: #f8f8f8;
    overflow: visible !important;
}

.wr-filter-admin-panel .title-b {
    font-size: 18px;
    font-weight: 600;
    line-height: 20px;
    padding-bottom: 10px;
}

.wr-filter-admin-panel .wr-hidden {
    width: 100%;
    height: 100%;
    min-height: 200px;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #ccc;
    z-index: 15;
    filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    display: none
}

.filter-admin-panel {
    width: 100%;
    height: inherit;
    position: relative;
    overflow-y: auto;
    padding: 10px;
    overflow-x: hidden !important;
    z-index: 16;
    background: #ffffff;
    -webkit-box-shadow: -20px 10px 60px 0px rgba(50, 50, 50, 0.2);
    box-shadow: -20px 10px 60px 0px rgba(50, 50, 50, 0.2);
}
/* FILTER PANEL END */

textarea {
    resize: vertical;
}

.icons_list{
    display: block;
    margin: 0 0 15px 0px;
    padding: 0;
    list-style-type: none;
}

.icons_list .icons_list-item{
    display: inline-block;
    margin: 0;
    text-align: center;
    border: 2px solid #eeeeee;
    width: 70px;
    height: 70px;
    padding: 5px;
}

.icons_list .icons_list-item .icons_list-item-icon{
    display: flex;
    justify-content: center;
    font-size: 28px;
    margin-bottom: 5px;
}

.icons_list .icons_list-item .icons_list-item-checkbox{
    display: flex;
    width: 100%;
    height: 22px;
    justify-content: center;
}

.input-group-addon.input-icheck{
    padding: 5px;
}

body.dragging, 
body.dragging{
    cursor: move !important;
}

.dragged{
    position: absolute;
    top: 0;
    opacity: .5;
    z-index: 2000;
}